body{background-color: #ECECEC;margin:0;position: relative;}
/*
    singleAnswer  binaryChoice
*/
.question{margin:5vh 5vw 5vh 5vw;font-size: 5vw;letter-spacing: 0.5vw;}
.title{}
.t_title{width: 5vw;float: left;}
.t_content{width:80vw;float: left;margin-bottom: 5vh;}
.content{}
.c_option{float:left;width: 80vw;}
.c_letter{width: 15vw;float: left;}
.c_span{width: 65vw;float: left;margin-bottom: 5vh;}

/*
    fillBlankAnswer
*/
.c_fill_letter{width: 10vw;float: left;}
.c_fill_span{width: 70vw;float: left;margin-bottom: 5vh;}
textarea{width: 70vw;resize: none;min-height: 15vh;height: 10vh;font-size: 5vw;}

.swiper-wrapper{min-height: 90vh;}

.head{background-color: #64B995;min-height: 10vh;}
.middle{padding-left: 6vw;font-size: 5vw;}
.timer{display: inline; float:left; color: #FEFEFE;line-height: 10vh;height: 10vh;}
.right{display: inline;color: #FEFEFE;float:right;line-height: 10vh;height: 10vh;background-color: #317CAD}
.submit{padding-left: 6vw;padding-right: 6vw;}